@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navigator-button {
  background: #fff;
  color: #a7a7a7;
  border-width: 1px;
  border-color: transparent;
}
.navigator-button.active {
  background: #e8e7ef;
  color: #333;
}
